:root {
    --ff-sans: 'Montserrat', sans-serif;
    --fs-400: 1rem;     // 16px
    --fs-500: 1.5rem;   // 24px
    --fs-600: 1.875rem; // 30px
    --fs-700: 2.25rem;  // 36px
    --fs-900: 4.5rem;   // 72px
}